body {
    color: rgb(36, 41, 46);
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: cursive; */
    font-size: 14px;
  }
h2 {
    font-size: 25px;
}

select {
    font: inherit;
}
.widget {
    padding: 30px;
}

  #navbar {
    background-color: rgb(50, 49, 50);
    color: rgb(255, 255, 255);
    height: 120px;
    /* position: fixed; */
    /* top: 0; */
    /* transition: top 0.5s ease-in-out; */
    width: 100%;
    padding: 10px 0 0 10px;
    margin-bottom: 50px;
    grid-area: navbar;
    display: flex;
    /* align-content: space-between; */
  }
  #dcms-logo {
    /* grid-area: dcms-logo; */
    margin-right: 130px;
    /* max-width: 100%; */
}
#dcms-logo img{
    /* height: 100px;
    width: 145px; */
    max-width: 90%;
    max-height: 90%;
  }
  #header-text {
    /* grid-area: header-text; */
    font-size: 40px;
    font-weight: 1;
    align-self: center;
  }
  
  #wrapper {
    grid-area: wrapper;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar"
    "main"
    "footer";
    /* grid-gap: 200px; */
    align-items: center;
    justify-items: center;
    
  }

  #main {
      /* border: solid red 5px; */
      width: 700px;
      grid-area: main;
      display: grid;
      grid-gap: 50px;
  }

#intro-text {
}

.widget-graphic {
    margin-top: 30px;
}

/* leaflet */
#map { 
    height: 730px;
    width: 600px;
    background: none;
}

/* info box */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* legend */
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* C3 */
/* circle css */
.chart-text {
}

.legend {
    /* border: 5px solid red; */
}

.c3-axis-y text, .c3-axis-x text, .c3-legend-item text {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.c3-legend-item {
  margin: 0 50px 0 50px;
}

/* table.c3-tooltip{
  font-size:150px;
  } */

  /* .c3-tooltip td {
    font-size:13px;
    padding: 3px 6px;
    background-color:red;
    border-left:1px dotted #999;
    color: #000;
    } */


    .c3-xgrid-line line {
      stroke: blue;
  }

/* font color */
.c3-axis .tick {
  fill: rgb(102, 102, 102);
}
.c3-ygrids .c3-ygrid {
  /* stroke-dasharray: 20 !important; */
  stroke-dasharray: 99999;
  stroke: rgb(230, 230, 230);
}

#chart .c3-line {
  stroke-width: 2px;
}

/* y axis */
.c3-axis-y .domain {
  display: none;
}
.c3-axis-y .tick line {
  display: none;
}

/* x axis */
.c3-axis-x .domain {
  stroke: rgb(204, 214, 235);
}
.c3-axis-x .tick line {
  stroke: rgb(204, 214, 235);
}


footer {
    grid-area: footer;
    background: rgb(222, 224, 226);
    border-top: 1px solid rgb(191, 193, 195);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    /* justify-content: start; */
  }
  footer img {
    padding: 0 20px 0 0;
  }
  footer a {
    /* color: red; */
    /* text-decoration: underline; */
  }
  
  a, a:visited {
    color: #ce4b99;
  }
  a:hover { 
    text-decoration: underline;
    color: #ce4b99;
    /* color: inherit; */
  }

  label{
    margin-right: 20px;
  }

  #tsChartMeasureTypes {
    margin: 10px 0 0 2px;
  }

.about-data {
  margin-top: 80px;
}